Repository 2023-Capstone/capstone-front, pull requests merged in 2023-07, with the labels that each got.

#23 스낵바 리렌더링 에러 해결
  src/components/Snackbar/index.jsx
Labels: 🐞 bug

#29 캘린더 페이지
  package-lock.json
  src/App.jsx
  src/apis/request/diary.js
  src/components/Header/Desktop/index.jsx
  src/components/Header/Mobile/Slider/index.jsx
  src/constants/calendar.js
  src/constants/path.js
  src/mocks/handlers/diary.js
  src/pages/Calendar/CalendarHeader/index.jsx
  src/pages/Calendar/CalendarHeader/index.style.jsx
  src/pages/Calendar/CalendarMain/index.jsx
  src/pages/Calendar/CalendarMain/index.style.jsx
  src/pages/Calendar/index.jsx
  src/pages/Calendar/index.style.jsx
  src/styles/theme.js
  src/utils/date.js
  src/utils/diaries.js
Labels: 🌈 feature

#31 메인페이지 및 유저 정보
  package-lock.json
  src/apis/request/auth.js
  src/apis/request/diary.js
  src/components/Title/index.jsx
  src/components/Title/index.styles.jsx
  src/constants/path.js
  src/hooks/useUser.js
  src/mocks/handlers/auth.js
  src/mocks/handlers/diary.js
  src/pages/Main/DiaryCount/CountGraph/index.jsx
  src/pages/Main/DiaryCount/CountGraph/index.styles.jsx
  src/pages/Main/DiaryCount/index.jsx
  src/pages/Main/DiaryCount/index.styles.jsx
  src/pages/Main/RandomDiary/index.jsx
  src/pages/Main/RandomDiary/index.styles.jsx
  src/pages/Main/Skeleton/index.jsx
  src/pages/Main/Skeleton/index.styles.jsx
  src/pages/Main/SmallCalendar/index.jsx
  src/pages/Main/SmallCalendar/index.styles.jsx
  src/pages/Main/WritingButton/index.jsx
  src/pages/Main/WritingButton/index.styles.jsx
  src/pages/Main/index.jsx
  src/pages/Main/index.styles.jsx
  src/pages/Mypage/Diary/index.jsx
  src/pages/Mypage/Info/index.jsx
  src/pages/Mypage/index.jsx
  src/store/index.js
  src/utils/weather.js
Labels: 🌈 feature, 🪄 style

#37 검색 기능 추가
  src/apis/request/diary.js
  src/components/Header/Desktop/index.jsx
  src/components/Header/Mobile/Slider/index.jsx
  src/components/Header/Mobile/index.jsx
  src/components/Header/index.jsx
  src/components/SearchModal/List/index.jsx
  src/components/SearchModal/List/index.styles.jsx
  src/components/SearchModal/index.jsx
  src/components/SearchModal/index.styles.jsx
  src/constants/path.js
  src/hooks/useModal.js
  src/mocks/handlers/diary.js
  src/store/index.js
Labels: 🌈 feature, 🪄 style
